In [1]:
import pandas as pd
import json
import numpy as np
import pingparsing

In [2]:
city =['Dallas','Denver','Miami','Chicago','Minneapolis','Montreal','New York','San Francisco','Seattle','Washington DC','Bogota','Buenos Aires','Amsterdam','Copenhagen','Frankfurt']

In [3]:
IP = ["69.162.81.155","192.199.248.75","162.254.206.227","209.142.68.29","207.250.234.100","184.107.126.165","206.71.50.230","65.49.22.66","23.81.0.59","207.228.238.7","200.7.98.19","131.255.7.26","95.142.107.181","185.206.224.67","195.201.213.247"]

In [4]:

ping_parser = pingparsing.PingParsing()
transmitter = pingparsing.PingTransmitter()

Latency = [] 

for address in IP : 
    transmitter.destination = address
    transmitter.count = 1
    result = transmitter.ping()
    response =json.dumps(ping_parser.parse(result).as_dict(), indent=4)
    res = json.loads(response)
    Latency.append(res['rtt_max'])

In [5]:
print(Latency)
len(Latency)

[325.0, 248.0, 203.0, 249.0, 225.0, 242.0, 353.0, 294.0, 241.0, 265.0, 266.0, 361.0, 218.0, 298.0, 162.0]

15

In [6]:
print(res['rtt_max'])

162.0

In [7]:
Arr1,Arr2,Arr3,Arr4,Arr5,Arr6,Arr7,Arr8,Arr9,Arr10,Arr11,Arr12,Arr13,Arr14,Arr15=([] for i in range(15))

for item in Latency:
    Arr1.append(abs(int(Latency[0]-item)))
    Arr2.append(abs(int(Latency[1]-item)))
    Arr3.append(abs(int(Latency[2]-item)))
    Arr4.append(abs(int(Latency[3]-item)))
    Arr5.append(abs(int(Latency[4]-item)))
    Arr6.append(abs(int(Latency[5]-item)))
    Arr7.append(abs(int(Latency[6]-item)))
    Arr8.append(abs(int(Latency[7]-item)))
    Arr9.append(abs(int(Latency[8]-item)))
    Arr10.append(abs(int(Latency[9]-item)))
    Arr11.append(abs(int(Latency[10]-item)))
    Arr12.append(abs(int(Latency[11]-item)))
    Arr13.append(abs(int(Latency[12]-item)))
    Arr14.append(abs(int(Latency[13]-item)))
    Arr15.append(abs(int(Latency[14]-item)))

In [8]:
print(Arr1,'\n',Arr2)

[0, 77, 122, 76, 100, 83, 28, 31, 84, 60, 59, 36, 107, 27, 163]
 [77, 0, 45, 1, 23, 6, 105, 46, 7, 17, 18, 113, 30, 50, 86]

In [9]:
matrix=np.matrix([Arr1,Arr2,Arr3,Arr4,Arr5,Arr6,Arr7,Arr8,Arr9,Arr10,Arr11,Arr12,Arr13,Arr14,Arr15])

In [10]:
df = pd.DataFrame(list(zip(Arr1,Arr2,Arr3,Arr4,Arr5,Arr6,Arr7,Arr8,Arr9,Arr10,Arr11,Arr12,Arr13,Arr14,Arr15)), columns =city) 
df

,Dallas,Denver,Miami,Chicago,Minneapolis,Montreal,New York,San Francisco,Seattle,Washington DC,Bogota,Buenos Aires,Amsterdam,Copenhagen,Frankfurt
0,0,77,122,76,100,83,28,31,84,60,59,36,107,27,163
1,77,0,45,1,23,6,105,46,7,17,18,113,30,50,86
2,122,45,0,46,22,39,150,91,38,62,63,158,15,95,41
3,76,1,46,0,24,7,104,45,8,16,17,112,31,49,87
4,100,23,22,24,0,17,128,69,16,40,41,136,7,73,63
5,83,6,39,7,17,0,111,52,1,23,24,119,24,56,80
6,28,105,150,104,128,111,0,59,112,88,87,8,135,55,191
7,31,46,91,45,69,52,59,0,53,29,28,67,76,4,132
8,84,7,38,8,16,1,112,53,0,24,25,120,23,57,79
9,60,17,62,16,40,23,88,29,24,0,1,96,47,33,103
10,59,18,63,17,41,24,87,28,25,1,0,95,48,32,104
11,36,113,158,112,136,119,8,67,120,96,95,0,143,63,199
12,107,30,15,31,7,24,135,76,23,47,48,143,0,80,56
13,27,50,95,49,73,56,55,4,57,33,32,63,80,0,136
14,163,86,41,87,63,80,191,132,79,103,104,199,56,136,0

In [11]:
#df = df.set_index([city],drop=True,inplace=True)

In [12]:
df.set_index([city])

,Dallas,Denver,Miami,Chicago,Minneapolis,Montreal,New York,San Francisco,Seattle,Washington DC,Bogota,Buenos Aires,Amsterdam,Copenhagen,Frankfurt
Dallas,0,77,122,76,100,83,28,31,84,60,59,36,107,27,163
Denver,77,0,45,1,23,6,105,46,7,17,18,113,30,50,86
Miami,122,45,0,46,22,39,150,91,38,62,63,158,15,95,41
Chicago,76,1,46,0,24,7,104,45,8,16,17,112,31,49,87
Minneapolis,100,23,22,24,0,17,128,69,16,40,41,136,7,73,63
Montreal,83,6,39,7,17,0,111,52,1,23,24,119,24,56,80
New York,28,105,150,104,128,111,0,59,112,88,87,8,135,55,191
San Francisco,31,46,91,45,69,52,59,0,53,29,28,67,76,4,132
Seattle,84,7,38,8,16,1,112,53,0,24,25,120,23,57,79
Washington DC,60,17,62,16,40,23,88,29,24,0,1,96,47,33,103
Bogota,59,18,63,17,41,24,87,28,25,1,0,95,48,32,104
Buenos Aires,36,113,158,112,136,119,8,67,120,96,95,0,143,63,199
Amsterdam,107,30,15,31,7,24,135,76,23,47,48,143,0,80,56
Copenhagen,27,50,95,49,73,56,55,4,57,33,32,63,80,0,136
Frankfurt,163,86,41,87,63,80,191,132,79,103,104,199,56,136,0